doctype html
html
  head
    title= title
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bundle.css')
  body
    div#Application
    script(src='/js/site.js')
    
